@media (max-width: 425px){
    body{
        min-height: 100vh;
    }

    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 360px 1fr;
    }

    .main .image-card{
        margin-top: 2rem;
        padding: 0 15px;
    }

    .main .text-card{
        text-align: center;
        padding: 0 40px;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }    

    .main .text-card h2{
        font-size: 2.5rem;        
    }

    .main .text-card>a{
        align-self: center;
        margin-bottom: 6rem;
    }

    .social ul{
        justify-content: center;
        margin-right: 0;
    }
}